# Snake Case intator

In [ ]:
#Base Algorithm 

new_col_names = []

for old_name in data_set_name.columns:
    name_stripped = old_name.strip()
    name_lowered = name_stripped.lower()
    name_no_spaces = name_lowered.replace(" ","_")
    new_col_names.append(name_no_spaces)

data_set_name.columns = new_col_names

In [13]:
#Example case 

import pandas as pd

# Crear un DataFrame para representar el reporte de ventas
data = {
    ' Sales person   ': ['John Doe', 'Jane Smith', 'Alice Johnson'],
    ' Total SALES': [3000, 1500, 4000],
    'Units Sold ': [50, 25, 60],
    'Region': ['North', 'South', 'East'],
    ' Revenue in USD': [100000, 50000, 120000]
}

# Crear el DataFrame
df = pd.DataFrame(data)

new_col_names = []

for old_name in df.columns:
    name_stripped = old_name.strip()
    name_lowered = name_stripped.lower()
    name_no_spaces = name_lowered.replace(" ","_")
    new_col_names.append(name_no_spaces)

df.columns = new_col_names


print(df.columns)

Index(['sales_person', 'total_sales', 'units_sold', 'region',
       'revenue_in_usd'],
      dtype='object')

The output is 

Index(['sales_person', 'total_sales', 'units_sold', 'region', 'revenue_in_usd'], dtype='object')

All Columns are now in snake case